*.o
*.lo
*.so
*.la
configure
Makefile

*.sw?

.deps/
.libs/
config.log
config.status

autom4te.cache/
include/setup.h
libratbox/include/libratbox_config.h
libratbox/include/librb-config.h
libratbox/include/stamp-h1
libratbox/libratbox.pc
libratbox/libtool
libratbox/src/version.c
libratbox/src/version.c.last
src/ircd
src/lex.yy.c
src/version.c.last
src/y.tab.c
src/y.tab.h
include/serno.h
ssld/ssld
tags
tools/convertilines
tools/convertklines
tools/mkpasswd
tools/viconf
bandb/bandb
bandb/bantool

