*.o
*.lo
*.so
*.la
configure
Makefile

*.swp

.deps/
.libs/
config.log
config.status

autom4te.cache/
include/setup.h
libratbox/include/libratbox_config.h
libratbox/include/librb-config.h
libratbox/include/stamp-h1
libratbox/libtool
src/ircd
src/lex.yy.c
src/version.c.last
src/y.tab.c
src/y.tab.h
ssld/ssld
tags
tools/convertilines
tools/convertklines
tools/mkpasswd
tools/viconf

